@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Montserrat:wght@400;600;700&display=swap');

.logo {
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 32px;
   color: #E31F24;
   margin: 50px 0px 0px 50px;
   }